/* General Page Styles with eye-catching animated background */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.site-title{
    position: absolute;
    text-align: center;
    top: 15%;
    font-size: 55px;
    background-image: linear-gradient(170deg, rgb(190, 33, 33), rgb(99, 104, 29));
    background-clip: text;
    color: transparent;
}

/* Login Form Container */
.login-container {
    background-color: #ffffff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    width: 350px;
    text-align: center;
    transition: 0.3s;
}
.login-container:hover {
    box-shadow: 10px 5px 5px #1a183b;
    transition: 0.3s;
}


/* Form Title */
.login-container h2 {
    background-image: linear-gradient(65deg,red,blue);
    color: transparent;
    background-clip: text;
    font-size: 30px;
    margin-bottom: 25px;
}

/* Input Fields */
.login-container input[type="username"],
.login-container input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0 20px 0;
    border: 2px solid #d6d4d4;
    border-radius: 8px;
    transition: 0.3s;
    font-size: 14px;
    box-sizing: border-box;
}

.login-container input:focus {
    border-color: #f0bde3;
    box-shadow: 0 0 7px rgba(158, 6, 6, 0.486);
    outline: none;
}

/* Submit Button */
.login-container button {
    width: 100%;
    padding: 12px;
    background-color: #6a11cb;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    transition: 0.3s;
}

.login-container button:hover {
    background-color: #881212;
    background-image: linear-gradient(65deg, rgb(1,1,1), rgb(118, 94, 126));
    transition: 1.3s;
}

/* Optional: Links */
.login-container a {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #aa77dd;
    text-decoration: none;
}

.login-container a:hover {
    color: #b6a4c9;
    text-decoration: underline;
    text-decoration-color: rgb(114, 120, 204);
}



.info-box {
    display: none;
    background-color: #cf18008a;
    border: 2px solid #ff0000;
    padding: 2px;
    border-radius: 8px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
    color: #000000;
}
.info-box.show {
    display: block;
}

.login-success {
    display: none;
    font-size: 65px;
    background-image: linear-gradient(120deg, rgb(134, 26, 161), rgb(202, 44, 44));
    color: transparent;
    background-clip: text;
    align-content: center;
    position: absolute;
    text-shadow: 0, 0, 5, black;
}
.login-succes.show {
    display: block;
}